<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.empire.farmshare">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".Home2"
            android:label="@string/title_activity_home2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Agent"
            android:label="@string/title_activity_agent"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Merchant"
            android:label="@string/title_activity_merchant"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Investor"
            android:label="@string/title_activity_investor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateFarm"
            android:label="@string/title_activity_create_farm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Investor_portfolio"
            android:label="@string/title_activity_investor_portfolio"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>